body{
    font-family: Arial;
    background-color: #f0f2f5;
    padding: 20 px;
}


.form-cadastro{
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    background:white;
    padding: 30px;
    border-radius: 5px;
}

h2 {
    color: #0077cc;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 10px;
}

.row{
    display:grid;
    grid-template-columns: 1ftr;
    gap: 15px;
}
.full-whidt{
    grid-column: span 2;
}

input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.btn-sub{
    background: #27ae60;
    color: white;
    padding: 15 px;
    width: 50%;
    font-size: 16px;
}
